
##############################################
#                                            #
#        Repique's Configuration             #
#                                            #
##############################################

## This is an example configuration file.
## You should adjust it to your needs, and save it as "repique.toml"
##
## Online documentation is not available. This program evolved far from the original dnscrypt proxy (go version)
## Anybody with a background in computer science and normal IQ can start this program without any 'online documents'


##################################
#         Primary settings       #
##################################

## List of servers to use
##
##
## The proxy will automatically pick working servers from this list.
## Note that the require_* filters do NOT apply when using this setting.
##
## By default, this list is empty and all registered servers matching the
## require_* filters will be used instead.
##
## Remove the leading # first to enable this; lines starting with # are ignored.

# server_names = ['google', 'ev-va']

##++++++++++++++++++++++++++++++++++++++++++++++++++++
## Groups is a powerful concept for repique
##++++++++++++++++++++++++++++++++++++++++++++++++++++
## Rules:
## Field 'name' must represent
## Field 'servers' can be omitted if Field 'groups' exists
## Field 'servers' must be omitted if Field 'tag' exists
## Field 'tag' must be omitted if Field 'servers' exists
## Field 'groups' can be omitted if Field 'servers' exists
## Field 'priority' can be omitted
## Field 'match' can be omitted
##========================================================
## Definition:
## Field 'name' is a given identity for reference 
## Field 'servers' is a collection which value should exist in server_names; special * means all
## Field 'tag' is an attribute which value should exist for each entity of server_names
## --tag is valid only if you are using https://github.com/AZ-X/WPF-GO-dnscrypt-proxy-md
## --tag is one of values of an instance of tags defined for StampProtoTypeDoTEx, StampProtoTypeDoHEx
## --or StampProtoTypeDNSCryptEx as extended type of DoT,DoH,DNSCrypt stamps
## Field 'groups' refers to previous defined field 'name'
## Field 'priority' is in order of selection base on TCP ACK/ICMP PING result;
## Field 'priority' will be worked with future version as how choosing a preferred server on throttle of tryouts
## --for group 'B' 'server11'>'server12'>'server13'
## --for group 'A&B`' 'server11'>'server12'>'server13'>'server1'>'server2'>'server3'
## Field 'match' is an instance of regular expression to match any domain name, thus can be multi-part separated by semicolon
## --which could be used as a selection from all groups
## --if no group defined, server_names is a default group which priority=false and match='*'
##========================================================
## Below is an example of groups

#groups = [
#{ name='A', servers=['server1', 'server2', 'server3'] },
#{ name='B', servers=['server11', 'server12', 'server13'], priority=true },
#{ name='A&B', groups=['A', 'B']},
#{ name='A&B`', groups=['B', 'A'], priority=true },
#{ name='A&B`-regex', groups=['A', 'B'], match='google\.com\.$' },
#{ name='CA', servers=['serverC'], match='\.ca\.$' },
#{ name='DE', tag='de', match='\.de\.$' },
#{ name='Swiss', tag='ch', match='\.swiss\.$;\.ch\.$' },
#{ name='foo', tag='foo', match='porn' },
#{ name='all', servers=['*'] },
#]

## Specify an interface for outbound connections 
## The value can be an interface name or any valid IP address
## Fill in the name of interface, if its DHCP is enabled
## If the inferface statically bound to only one IP address, you can use either of the form
## If using an inferface name, net probe function will wait until it's available

#network_interface = 'Local Area Connection'
#network_interface = 'wlan'
#network_interface = '172.16.0.1'


## List of local addresses and ports to listen to. Can be IPv4 and/or IPv6.
## Example with both IPv4 and IPv6:
## listen_addresses = ['127.0.0.1:53', '[::1]:53']

listen_addresses = ['127.0.0.1:53']


##++++++++++++++++++++++++++++++++++++++++++++++++++++
## Group and listener association                    +
##++++++++++++++++++++++++++++++++++++++++++++++++++++
## Rules:
## Field 'position' must represent
## Field 'group' must be omitted if Field 'regex' exists
## Field 'regex' must be omitted if Field 'group' exists
##========================================================
## Definition:
## Field 'position' is an integer refering to the order of items in listen_addresses
## --e.g. listen_addresses = ['127.0.0.1:69', '127.0.0.1:70']
## --position=1 --> 127.0.0.1:69
## --position=2 --> 127.0.0.1:70
## Field 'group' refers to the name field of groups
## Field 'regex' is a boolean refering to match field of groups
## --e.g. { position=2, regex=true }
## --listen address 127.0.0.1 port 70
## --2 matches found name='A&B`-regex' and name='CA'
## --this listener will serve all the domain names successfully matched within servers from that group
## --if groups does NOT contain any item has match field and listener_association has regex=true
## --the default group server_names will be used which has a default match '*' (all domain name)
## { position=3 } is equal to { position=3 , group is server_names }
##========================================================
## Below is an example of listener_association

#listener_association = [
#{ position=1, group='A&B' },
#{ position=2, regex=true },
#{ position=3 },
#]


## Maximum number of simultaneous client connections to accept

max_clients = 250


## Switch to a different system user after listening sockets have been created.
## Note (1): this feature is currently unsupported on Windows.
## Note (2): this feature is not compatible with systemd socket activation.
## Note (3): when using -pidfile, the PID file directory must be writable by the new user

# user_name = 'nobody'


## Require servers (from static + remote sources) to satisfy specific properties

# Use servers reachable over IPv4
ipv4_servers = true

# Use servers reachable over IPv6 -- Do not enable if you don't have IPv6 connectivity
ipv6_servers = false

# Use servers implementing the DNS-over-HTTPS protocol
doh_servers = true

# Use servers implementing the DNS-over-TLS protocol
dot_servers = true

# Use servers implementing the DNSCrypt protocol
# You only need it if you are not aware of local dnssec validation or use it for untrusted zones
# or you just exclusively use this program as a last hop stub resolver
dnscrypt_servers = true

## Require servers defined by remote sources to satisfy specific properties

# Server must support DNS security extensions (DNSSEC)
# You cannot trust any validation result online unless you deployed additional program locally to perform validation
require_dnssec = false

# Server must not log user queries (declarative)
require_nolog = true

# Server must not enforce its own blacklist (for parental control, ads blocking...)
require_nofilter = true

# Server names to avoid even if they match all criteria
disabled_server_names = []


## Always use TCP to connect to upstream servers (current for DNSCrypt, spares for DoT/QUIC later).
## This can be useful if you need to prepare dnssec queries.
## Otherwise, leave this to `false`, as it doesn't improve your privacy


force_tcp = false


## SOCKS5/HTTP/HTTPS proxy 
## NOTICE: proxies from environment are ignored 

# proxy_uri = 'socks5://127.0.0.1:9050'
# proxy_uri = 'http://127.0.0.1:8888'
# proxy_uri = 'https://127.0.0.1:8888'


## SOCKS5/HTTP/HTTPS IP of hostname of proxy
## leave this section comment off unless you want to use hostname e.g. proxy_uri = 'socks5://hostname:9050'
## since repique nerver use any insecure DNS and sys DNS loops

# proxy_ip = '127.0.0.1'
# proxy_ip = '[fe80::1%eth0]'


## How long a DNS query will wait for a response, in milliseconds.
## If you have a network with *a lot* of latency, you may need to
## increase this. Startup may be slower if you do so.
## Don't increase it too much. 10000 is the highest reasonable value.

timeout = 5000


## Keepalive for HTTP (HTTPS, HTTP/2) queries, in seconds

keepalive = 30


## Load-balancing strategy: 'p2' (default), 'ph', 'first' or 'random'

# lb_strategy = 'p2'


## Log level (0-6, default: 2 - 0 is very verbose, 6 only contains fatal errors)

# log_level = 2


## log file for the application

# log_file = 'repique.log'


## Use the system logger (syslog on Unix, Event Log on Windows)

# use_syslog = true


## Delay, in minutes, after which certificates are reloaded

cert_refresh_delay = 240



## DoH: Disable TLS session tickets - increases privacy but also latency

tls_disable_session_tickets = true

## Notice: this program only uses TLS1.3 so that tls_cipher_suite was deprecated
## DNS over HTTPS, and DNS over TLS: Use fixed cipher suite instead of the server preference
## We use TLS_AES_256_GCM_SHA384 and TLS_CHACHA20_POLY1305_SHA256
## On non-amd64 CPUs such as some antique MIPS and ARM systems
## except Cavium Octeon MIPS, ARMv8-A and processors support Cryptographic Hardware Accelerator and
## Hardware-based PRNG e.g. Hardware Crypto Engine in Qualcomm SoCs
## Even very old amd64 CPUs running 32-bit operating systems can enable TLS1.3 on the fly.


## Notice: fallback resolvers were deprecated
## Always exclude UNSAFE 'fallback resolvers' and sys dns loops


## Maximum time (in seconds) to wait for network connectivity before
## initializing the proxy.
## Useful if the proxy is automatically started at boot, and network
## connectivity is not guaranteed to be immediately available.
## Use 0 to not test for connectivity at all (not recommended),
## and -1 to wait as much as possible.

netprobe_timeout = 60

## Address and port to try initializing a connection to, just to check
## if the network is up. It can be any address and any port, even if
## there is nothing answering these on the other side. Just don't use
## a local address, as the goal is to check for Internet connectivity.
## On Windows, a datagram with a single, nul byte will be sent, only
## when the system starts.
## On other operating systems, the connection will be initialized
## but nothing will be sent at all.

netprobe_address = '9.9.9.9:53'


## Offline mode - Do not use any remote encrypted servers.
## The proxy will remain fully functional to respond to queries that
## plugins can handle directly (static or dynamic cloaking ...)

# offline_mode = false


#######################################################################
#        Per-channel(refers to listen_addresses) Configuration        #
#######################################################################

[channels_sections]

## channels_sections.'main' is a shared configuration for all listen addresses, which will share all the mappings, caches and loggers 
## channels_sections.'[channel name]' is for individual listen address e.g.  [channels_sections.'127.0.0.1:53']
## The program will find [channel name] for each configured listen_addresses firstly. If not found, a section named 'main' must exist

 [channels_sections.'main']

## Additional data to attach to outgoing queries.
## These strings will be added as TXT records to queries.
## Do not use, except on servers explicitly asking for extra data
## to be present.

# query_meta = ["key1:value1", "key2:value2", "key3:value3"]

## Response for blocked queries.  Options are `nxdomain`, `refused`(default)
## nxdomain not work with dnssec, you should mod any downstream stub before use

blocked_query_response = 'nxdomain'


## Immediately respond to IPv6-related queries with an empty response

sinkhole_ipv6 = true


## Monitor changes of contents of black_cloaking_routine after program start, reload and effect them on the fly; be careful to use this feature, any mistake of changes (including deleting of that file) will panic the running program.
## This feature won't affect cache of things. It's the most powerful implementation of fields.
## To keep scalar binary size of the program, this configuration is limited to Windows platform.

# windows_filemon = true


## Path to the file of all possible rules against QNAME AND CNAME (For details, Read "example_black_cloaking.txt" carefully)

# black_cloaking_routine = 'routine.txt'


## Enable a DNS cache to reduce latency and outgoing traffic if define a value for cache_size
## Cache size (will be adjusted as power of 2, see debug info; e.g. cache_size = 69 => 64 )
## NOTICE: Cache will hold objects in memory

cache_size = 128


## TTL used when serving ip address entries in black_cloaking_routine (in minutes)

# cloak_ttl = 60


## TTL for nxdomain or refused entries in black_cloaking_routine (in minutes)

black_ttl = 120


## TTL for cached entries (in minutes)

cache_ttl = 720


## TTL for put IPv6 queries into sinkhole when sinkhole_ipv6 is true (in minutes)

nodata_ttl = 720



## Log client queries to a file

[channels_sections.'main'.query_log]

  ## Path to the query log file (absolute, or relative to the same directory as the config file)
  ## On non-Windows systems, can be /dev/stdout to log to the standard output (also set log_files_max_size to 0)

  # file = 'query.log'


  ## Query log format (currently supported: tsv and ltsv)

  format = 'tsv'


  ## Do not log these query types, to reduce verbosity. Keep empty to log everything.

  # ignored_qtypes = ['DNSKEY', 'NS']


########################################
#        Upstream Servers              #
########################################

## Local lists of available servers
## Multiple sources can be used simultaneously, but every source
## requires a dedicated cache file.
##
## Important:
## You Must KNOW the fact that you can use a single .MD file as source for this program
## This program won't get sources from 'the sites' periodically. You must do it by yourself 
## 
##
## A prefix can be prepended to server names in order to
## avoid collisions if different sources share the same for
## different servers. In that case, names listed in `server_names`
## must include the prefixes.

[sources]

  ## An example of all in one source cooked by yourself 
  ## READ https://github.com/AZ-X/WPF-GO-dnscrypt-proxy-md
  [sources.'all-in-one']
  cache_file = 'mylist.md'
  minisign_key = '========>COPY PUB KEY HERE<========'
  prefix = ''

  #[sources.'public-resolvers']
  #cache_file = 'public-resolvers.md'
  #minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
  #prefix = ''

  ## Anonymized DNS relays
  ## get from urls = ['https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v2/relays.md', 'https://download.dnscrypt.info/resolvers-list/v2/relays.md']
  
  #[sources.'relays']
  #cache_file = 'relays.md'
  #minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
  #prefix = ''


################################
#        Anonymized DNS        #
################################

[anonymized_dns]

## Routes are indirect ways to reach DNSCrypt servers.
##
## A route maps a server name ("server_name") to one or more relays that will be
## used to connect to that server.
##
## A relay can be specified as a DNS Stamp (either a relay stamp, or a
## DNSCrypt stamp), an IP:port, a hostname:port, or a server name.
##
## The following example routes "example-server-1" via `anon-example-1` or `anon-example-2`,
## and "example-server-2" via the relay whose relay DNS stamp
## is "sdns://gRIxMzcuNzQuMjIzLjIzNDo0NDM".
##
## !!! THESE ARE JUST EXAMPLES !!!
##
## Review the list of available relays from the "relays.md" file, and, for each
## server you want to use, define the relays you want connections to go through.
##
## Carefully choose relays and servers so that they are run by different entities.
## rapin: Carefully choose relays and servers because all these protocols
## are drawing partial cleartext to attract Mad Men in middle
##
## "server_name" can also be set to "*" to define a default route, but this is not
## recommended. If you do so, keep "server_names" short and distinct from relays.
##
## rapin: "via" can also be set to "*" to define a default route, and this is recommended 
## if you are using https://github.com/AZ-X/WPF-GO-dnscrypt-proxy-md
##
## and Most Important THIS PROGRAM won't offer you a hope to a mathematicasis candidate every startup
## instead IT liberates|exposes you from these unreliable 'via' against a full ring implement

# routes = [
#    { server_name='example-server-1', via=['anon-example-1', 'anon-example-2'] },
#    { server_name='example-server-2', via=['sdns://gRIxMzcuNzQuMjIzLjIzNDo0NDM'] }
# ]

# routes = [
#   { server_name='*', via=['*'] },
#]


## Optional, local, static list of additional servers
## Mostly useful for testing your own servers.

[static]

  # [static.'myserver']
  # stamp = 'sdns:AQcAAAAAAAAAAAAQMi5kbnNjcnlwdC1jZXJ0Lg'
